		<div class="container">



		<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
		  <div class="carousel-inner">
			<div class="item active"><!-- class of active since it's the first item -->
					<%= link_to image_tag("restt.JPG",:alt=>"random", :size => "900x480", :class => 'roundPhoto').html_safe, root_path%>
			  <div class="carousel-caption">
				<p>ded dede </p>
			  </div>
			</div>
			
			<div class="item">
			  <img src="http://placehold.it/1200x480" alt="" />
			  <div class="carousel-caption">
				<p>Caption text here</p>
			  </div>
			</div>
			
			<div class="item">
			  <img src="http://placehold.it/1200x480" alt="" />
			  <div class="carousel-caption">
				<p>Caption text here</p>
			  </div>
			</div>
			
			<div class="item">
			  <img src="http://placehold.it/1200x480" alt="" />
			  <div class="carousel-caption">
				<p>Caption text here</p>
			  </div>
			</div>
		  </div><!-- /.carousel-inner -->
		  
		  <!--  Next and Previous controls below
				href values must reference the id for this carousel -->
			<a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
		</div><!-- /.carousel -->




		<div class="col-lg-12">
			<div class="row">
				<div class="col-sm-4">
				<p> 
				SPACE 
				SPACE 
				SPACE SPACESPACE 
				SPCAE 
				SPACE 
				SOCAE
				ERLGKMF
				
				GKFDMKMLF 
				SPACE 
				SPACE 
				SPACE SPACESPACE 
				SPCAE 
				SPACE 
				SOCAE
				ERLGKMF
				
				GKFDMKMLF SPACE 
				SPACE 
				SPACE SPACESPACE 
				SPCAE 
				SPACE 
				SOCAE
				ERLGKMF
				
				GKFDMKMLF SPACE 
				SPACE 
				SPACE SPACESPACE 
				SPCAE 
				SPACE 
				SOCAE
				ERLGKMF
				
				GKFDMKMLF SPACE 
				SPACE 
				SPACE SPACESPACE 
				SPCAE 
				SPACE 
				SOCAE
				ERLGKMF
				
				</P>
				</div>
				</div>
				</div>
	
	
	
	
	<div class="row">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-sm-4">
				
					<%= link_to image_tag("fork.jpg",:alt=>"knife", :size => "300x300", :class => 'roundPhoto').html_safe, root_path%>
					<h2>Dine or Choose Home Catering</h2>
					<p>
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
										Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 
					Why not treat yourself or a loved one to an exclusive restaurant dinning experience? 

					</p>
				</div>
				<div class="col-sm-4">
					<%= link_to image_tag("ku.jpg",:alt=>"knife", :size => "300x300", :class => 'roundPhoto').html_safe, root_path%>
					<h2>Kuwait</h2>
					<p>
						Unfortunately, we only offer restaurants in Kuwait for the time being. 
												Unfortunately, we only offer restaurants in Kuwait for the time being. 
						Unfortunately, we only offer restaurants in Kuwait for the time being. 
						Unfortunately, we only offer restaurants in Kuwait for the time being. 
						Unfortunately, we only have restaurants in Kuwait for the time being. 
						Unfortunately, we only have restaurants in Kuwait for the time being. 
						Unfortunately, we only have restaurants in Kuwait for the time being. 
						Unfortunately, we only have restaurants in Kuwait for the time being. 

					</p>
				</div>
				<div class="col-sm-4">
					<%= link_to image_tag("rest.jpg",:alt=>"knife", :size => "300x300", :class => 'roundPhoto').html_safe, root_path%>
					<h2>Restaurant of the day</h2>
					<p>
					Open Flame Kitchen
										Open Flame Kitchen
					Open Flame Kitchen
					Open Flame Kitchen
					Open Flame Kitchen
					Open Flame Kitchen
					Open Flame Kitchen
					Open Flame Kitchen
					Open Flame Kitchen
					Open Flame Kitchen
					Open Flame Kitchen

   					<p>
				</div>
				<!-- /.row -->
				<p>
				</p>
				<p>
				</p>

			</div>
		</div>
	</div>
</div>

